name: CI

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  build-and-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Ruff
        run: pip install ruff

      # ⚠️ Lint non bloquant temporairement (on repassera en bloquant plus tard)
      - name: Lint (ruff, soft)
        run: ruff check . --output-format=github --exit-zero

      - name: Build Docker image
        run: docker build -t radar-fr-app -f app/Dockerfile .
